.borderAnimation {
  position: relative;
  img {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
  }
  img:hover {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.6));
  }
}
.borderAnimation::after {
  position: absolute;
  content: "";
  width: 200%;
  height: 5px;
  bottom: 0;
  left: 0;
  transform: translateX(50%);
  background-image: linear-gradient(45deg, #fa9323 0%, #ffd612 100%);
  animation: gradient-animation 1s ease-in-out infinite alternate;
}
@keyframes gradient-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}

// nút tag bar
.bars {
  position: relative;
  width: 40px;
  height: 5px;
  transition: 0.4s ease-in-out;
}
.bars::after,
.bars::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  transition: 0.4s ease-in-out;
}
.bars::before {
  transform: translateY(-12px);
  transition: 0.4s ease-in-out;
}
.bars::after {
  transform: translateY(12px);
  transition: 0.4s ease-in-out;
}
.bars.active {
  background-color: transparent;
  transition: 0.4s ease-in-out;
}
.bars.active::before {
  transform: rotate(45deg);
  transition: 0.4s ease-in-out;
}
.bars.active::after {
  transform: rotate(-45deg);
  transition: 0.4s ease-in-out;
}

// màu text
.activeText {
  background-image: linear-gradient(45deg, #fa9323 0%, #ffd612 50%);
  background-clip: text;
  color: transparent !important;
}
.activeSpan {
  background-image: linear-gradient(45deg, #fa9323 0%, #ffd612 100%);
  background-clip: text;
  color: transparent !important;
}

.tagMenu::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #fa9323 0%, #ffd612 100%);
  transition: 0.5s ease-in-out;
  z-index: 0;
}
.tagMenu.active::after {
  width: 100%;
}

table {
  th,
  td {
    white-space: nowrap;
  }
  tr {
    cursor: default;
  }
  tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .section::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.loading {
  background-color: rgba(0, 0, 0, 0.855);
  opacity: 0.8;
}
.loading img {
  animation: animationImgLoading 0.3s linear infinite;
}
.closeLoading {
  animation: animationLoading 1s linear;
}
@keyframes animationLoading {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animationImgLoading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
